/* ------------------------------------------------------------------ */
/**
    breakpoint 변수입니다.
**/
/* ------------------------------------------------------------------ */

$desk-XL: "only screen and (max-width: 1550px)";
$desk-L: "only screen and (max-width: 1200px)";
$desk-M: "only screen and (max-width: 1046px)";
$desk-S: "only screen and (max-width: 992px)";
$pad: "only screen and (max-width: 768px)";
$phone: "only screen and (max-width: 414px)";
$min-width-phone: 320px;
