/* ------------------------------------------------------------------ */
/**
    scss 파일의 여러가지 변수와 함수들을 저장하는 설정 파일입니다.
    메인 테마를 잡는 공간이라고 생각하시면 됩니다.
**/
/* ------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
  blue 컬러셋
--------------------------------------------------------------------- */

// 1번 컬러는 메인 컬러. 밝고 신뢰감을 주는 파란색입니다.
$theme-blue1: #0081ff;
// 2번 컬러는 약간 어두운 파란색입니다. 로그인 화면의 배경색 등에 쓰입니다.
$theme-blue2: #1271c3;
// 3번 컬러는 약간 밝은 파란색입니다. board 페이지를 포함해 디자인 시안에 따라 1번 색 대신 쓰이는 페이지가 많습니다.
$theme-blue3: #0096ff;
// 4번 컬러는 board 페이지의 버튼이나, 일부 페이지의 글씨 색에 쓰이는 진한 남색입니다.
$theme-blue4: #06315f;
//5-6번 컬러는 mypage bar 그라데이션에 쓰이는 색입니다.
$theme-blue5: #198bfb;
$theme-blue6: #19a1fb;
//7번 컬러는 버튼 백그라운드로 쓰이는 색입니다.
$theme-blue7: #ecf7ff;

/* ---------------------------------------------------------------------
  grey 컬러셋
--------------------------------------------------------------------- */

// 1번 컬러는 옅은 회색입니다. 고객용 페이지의 테두리 등에 쓰입니다.
$theme-grey1: #e0e0e0;
// $theme-grey1 컬러보다 밝은 회색입니다. 배경색으로 깔립니다.
$theme-grey2: #f4f4f4;
// 3번 컬러는 중간 회색입니다. placeholder 색상에 사용하면 좋습니다.
$theme-grey3: #b1b1b1;
// 4번 컬러는 admin 페이지에 쓰이는 중간톤의 청회색입니다.
$theme-grey4: #d4d8dc;
// 5번 컬러는 admin 페이지 상단에 쓰인 연한 회색입니다.
$theme-grey5: #f2f4f6;
// 6번 컬러는 admin 페이지에서 테두리 등에 쓰이는 진한 청회색입니다.
$theme-grey6: #c8ced3;
//7,8번 컬러는 my page table에서 사용 되는 연한 회색 입니다.
$theme-grey7: #f5f7fa;
$theme-grey8: #f5f7fa99;
// 9번 컬러는 my page 에서 버튼 border 컬러로 사용되는색 입니다.
$theme-grey9: #e8eef5;

// 10번 컬러는 my page 에서 sub 글씨로 사용되는 색입니다.
$theme-grey10: #989cae;
// 11번 컬러는 my page input box에 사용되는 테두리 색상입니다.
$theme-grey11: #d7dae2;

$theme-grey12: #a2a9af;

/* ---------------------------------------------------------------------
  black 컬러셋
--------------------------------------------------------------------- */

// 1번 컬러는 검정에 가까운 진한 회색입니다. 자연스럽고 진한 회색.
$theme-black1: #171717;
// 2번 컬러는 진한 회색입니다. 대부분의 본문에 쓰입니다.
$theme-black2: #333;
// 3번 컬러는 2번보다는 약간 밝은 진회색입니다.
$theme-black3: #707070;
//4번 컬러는 3번 보다 조금 진한 회색입니다.
$theme-black4: #3a3b40;

/* ---------------------------------------------------------------------
  1번 컬러 기준 조금 더 밝은 색과 어두운 색 버전 쓰는 법.
  darken( $theme-color1, 20% );
  lighten( $theme-color1, 20% );
--------------------------------------------------------------------- */

/* ---------------------------------------------------------------------
  ssg color
--------------------------------------------------------------------- */

$ssg-orange: #e24f39;
$ssg-orange2: #e34d33;
$ssg-dark-blue: #323743;
$ssg-grey2: #d6d6d6;
$ssg-grey1: #f1f4f8;
$ssg-grey3: #a2a9af;
$ssg-grey4: #00000029;
$ssg-grey5: #f1f3f5;
