/* ------------------------------------------------------------------ */
/**
    폰트와 관련된 모든 변수들을 가지고 있는 scss 파일입니다.
    앱에 사용할 폰트들의 import와 각 폰트 설정을 합니다.
**/
/* ------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
  폰트는 나눔 Square 서체를 컨셉적 메인으로 합니다. 한글과 본문에서 사용합니다.
  300, 400, 700, 800의 weight 를 지원합니다.
--------------------------------------------------------------------- */
$font-kr: ("NanumSquare", "Spoqa Han Sans", AppleGothic, Dotum, sans-serif);

/* ---------------------------------------------------------------------
  대부분의 한글 본문 폰트는 Spoqa Han Sans를 사용합니다.
  100(thin), 300(light), 400(regular), 600(bold)의 weight을 지원합니다.
--------------------------------------------------------------------- */
$font-kr2: ("Spoqa Han Sans", AppleGothic, Dotum, sans-serif);

/* ---------------------------------------------------------------------
  주로 모달 내부에 쓰입니다.
  100, 300, 400, 500, 700, 900의 weight 를 지원합니다.
--------------------------------------------------------------------- */
$font-kr4: "Noto Sans KR", AppleGothic, Dotum, sans-serif;

/* ---------------------------------------------------------------------
  대표님 성함 폰트
--------------------------------------------------------------------- */
// $font-chairman: ("Noto Serif KR", sans-serif);

/* ---------------------------------------------------------------------
  숫자용 폰트입니다.
--------------------------------------------------------------------- */
$font-nb: ("Open Sans", AppleGothic, Dotum, sans-serif);

$font-eb: ("canada-type-gibson", AppleGothic, Dotum, sans-serif);
