@import "src/Style/global.scss";

.ck-editor {
  border-color: #c9cacb !important;

  ol {
    padding-left: 30px;

    li {
      list-style: decimal;
    }
  }

  ul {
    padding-left: 30px;

    li {
      list-style: disc;
    }
  }

  .ck.ck-toolbar {
    background-color: white;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-color: $theme-grey6 !important;
  }

  .ck.ck-color-grid {
    max-height: 310px;
    overflow-y: scroll;
  }

  .ck.ck-button:not(.ck-disabled):hover {
    background-color: $theme-grey5;
  }

  .ck.ck-heading_paragraph {
    font-size: 22px;
    font-weight: 300;
  }

  .ck.ck-heading_heading1 {
    font-size: 30px;
    font-weight: 500;
  }

  .ck.ck-heading_heading2 {
    font-size: 28px;
    font-weight: 500;
  }

  .ck.ck-heading_heading3 {
    font-size: 22px;
    font-weight: 500;
  }

  .ck-content {
    height: 600px;
    font-size: 22px;
    font-weight: 300;
    font-family: $font-kr4;
    letter-spacing: -0.66px;
    line-height: 1.75;
    word-break: break-all;

    @media #{$pad} {
      font-size: 18px;
      letter-spacing: -0.54px;
    }

    h1 {
      font-size: 30px;
      font-weight: 500;

      @media #{$pad} {
        font-size: 26px;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 500;

      @media #{$pad} {
        font-size: 22px;
      }
    }

    h3 {
      font-size: 22px;
      font-weight: 500;

      @media #{$pad} {
        font-size: 18px;
      }
    }

    hr {
      width: 483px;
      height: 21px;
      margin: 60px auto;
      border: none;
      background-image: url("/Img/hr_bar@2x.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      @media #{$pad} {
        width: 100%;
        background-size: contain;
      }
    }
  }

  .ck.ck-editor__main > .ck-editor__editable {
    box-shadow: none !important;
  }
}
